<!-- views/index.ejs -->

<!doctype html>
<html lang="en">
 
<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	<script src="/assets/js/ui.js" ></script>

</head>
<body class="container">

<header>
    
</header>

<main>
    <div class="jumbotron">
        <h1>Atayen Oracle</h1>
		
        <p class="lead">We inspect your posts</p>
		<hr class="my-4">
		<form id="inspect-form">
  <div class="form-group">
    <label for="url">Url</label>
    <input type="url" class="form-control" id="url" aria-describedby="emailHelp" placeholder="social media url">
    <small id="emailHelp" class="form-text text-muted">We don't add or modify your content</small>
  </div>
  
  <div id="result"></div>
  
  
  
</form>
		<button id="inspect" class="btn btn-primary">Inspect</button>
		
    </div>
</main>

<footer>
    
</footer>

</body>
</html>