<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="margin: 0;padding: 0;"> 
    <div style="margin-right: auto;
    margin-left: 45vw;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 5vh;
    "><a style="color: white !important;" href="https://v2.satt.atayen.us">View the online version > </a></div>
    
    <img src="https://v2.satt.atayen.us/assets/Images/SaTT_Template_Icon.svg" style="margin-right: auto;
    margin-left: auto;
    position: absolute;
    left: 0;
    right: 45vw;
    top: 3vh;" alt="">

    <img src="https://v2.satt.atayen.us/assets/Images/curve.svg" style="margin-left: auto;margin-right: auto;display: block;" alt="">
    <img src="https://v2.satt.atayen.us/assets/Images/Link_added.svg" style="margin-right: auto; margin-left: auto; position: absolute; left: 0; right: 0; top:15vh" alt="">
    <div style="position: absolute;
    left: 0;
    right: 0;
    top: 35vh;
    text-align: center;
    color: white;
    font-size: 35px;
    font-family: system-ui;
    font-weight: bolder;">New Link was added</div>

  <div style="right: 0;
  left: 0;
  text-align: center;
  font-size: 22px;
  font-family: system-ui;
  top: 70vh;
  margin-top: 20px;">New Link was added to you campaign </div>

  <div style="right: 0;
  left: 0;
  text-align: center;
  font-size: 22px;
  font-family: system-ui;
  top: 75vh;">
    "<%= cmp.name %>"
  </div>

  <div style="right: 0;
  left: 0;
  text-align: center;
  font-size: 19px;
  font-family: sans-serif;
  top: 70vh;
  margin-top: 22px;">This is the Link :</div>

  <div style="right: 0;
    left: 0;
    text-align: center;
    font-size: 20px;
    font-family: system-ui;
    color: #0000ff9e;"><a href="<%= cmp.link %>"><%= cmp.link %></a></div>

<div style="margin-bottom: 10px;">
    <div style="right: 0;
    left: 0;
    text-align: center;
    font-size: 20px;
    font-family: system-ui;
    margin-top: 45px;">
        Do not hesitate to contact us if you need assistance.
    </div>
    
    <div style="right: 0;
    left: 0;
    text-align: center;
    font-size: 20px;
    font-family: system-ui;margin-top: 5px;">
        SaTT team wishes you good luck!
    </div>
</div>
<hr style="width: 55%;">
<div style="right: 0;
left: 0;
text-align: center;
font-size: 15px;
font-family: system-ui;
color: rgba(0, 0, 255, 0.735);
margin-top: 15px;">
    A propos du SaTT | Nous contacter 
</div>
</body>
</html>